@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&family=Raleway:wght@400;500&display=swap');


.oswald{
    font-family:serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/stock-photo1.jpg) center center fixed no-repeat;
    height: 900px;
    background-size: cover;
    color:aliceblue;
}
section nav {
    background-color:rgba(15, 15, 15, 0.774);
    
    }
nav .nav-link{
    border-bottom: 1px solid transparent ;
    transition: padding-bottom .4s ease-in-out,border-color .3s ease;
}
nav .nav-link:hover{
    padding-bottom: 5px;
    border-bottom-color: var(--bs-teal);
}

    
.articles{
    background-color: rgb(38, 39, 39);
}
@media screen and (max-width:800px) {
    section nav.nav-link{
       display:none;
    }
    .navbar-brand{
        justify-content:right;
 }
    body{
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
}
.copy{
    text-align: center;
    margin-bottom:10%;
    font-size: 20px;
    color: darkgreen;
    background-size: auto;
    background-color: aliceblue;
    padding-bottom: 0%;
} 
.projets h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

